ROOT_DIR:
..

BIN: 
program

BIN_DIR:
../bin

INCLUDE_DIRS:
../src
../src/include
../dep/glfw/include
../dep/glew/include

TARGETS:
win64
linux64

LIBS:win64
../dep/glfw/win64/glfw3.lib 
../dep/glew/lib/Release/x64/glew32s.lib
opengl32.lib

LIBS:linux64
-l../dep/glfw/linux64/glfw3.a
-l../dep/glew/lib/Release/linux64/glew.a
-lGL