TARGET:
win64

INC_PREFIX:
-I

LIB_PREFIX:

BIN_SUFFIX:
.exe

CXXFLAGS:
-std:c++14 -W4 -EHsc -MD -pthread

LDFLAGS:
-NODEFAULTLIB:LIBCMT

LIBS:
gdi32.lib
kernel32.lib
user32.lib
shell32.lib

COMPILER:
cl -c {CXXFLAGS} -Fo{OBJ_PATH} {INCLUDE_DIRS} {SRC_PATH}

LINKER:
link -out:{BIN_DIR}/{TARGET}/{BIN}{BIN_SUFFIX} {OBJ_FILES} {LIBS} {LDFLAGS}
